*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
   

}

nav{
    flex: 1;
    text-align: right;

}

nav ul{
    display: inline-block;
    list-style-type: none;
   

}

nav ul li {
    display: inline-block;
    margin-right:20px ;

}

a{
    text-decoration: none;
    color: #555;

}

p{
    color: #555;
}



.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right:25px ;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categories img{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;

}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}

.col-2 span{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 45px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0 ;
    border-radius: 30px;
    transition: background 0.5s;
    outline:none;
}

.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}



.categories{
    margin: 70px 0;

}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

.col-3 img{
    width: 100%;
}

.col-3:hover{
    transform: translateY(-5px);

}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 45%;
    transform: translateX(-50);
}

h4{
    color: #555;
    font-weight: normal;

}

.col-4 p{
    font-size: 14px;
    
}

.rating .fa{
    color: #ff523b;

}

.col-4:hover{
    transform: translateY(-5px);

}

/* parallax  */
.parallax{
    min-height: 400px;
    background: transparent;
   
}

.info{
    z-index:"2";
    position: relative;
    color: white;
    text-align: center;
    border: 3px solid #ccc;
    padding: 20px;
    top: 170px;
    margin-left: 20%;
    margin-right: 20%;
}

/* offer */

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;
}

/* testimonial  */

.testimonial{
    padding-top: 100px;

}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;

}
.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;

}
.testimonial  .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial  .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* brands  */

.brands{
    margin: 100px auto;

}

.col-5{
    width: 160px;

}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{

    filter: grayscale(0);

}

/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;

}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;

}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{

    width: 180px;
    margin-bottom: 20px;
    height: 70px;

}

.footer-col-3,.footer-col-4{

    flex-basis: 12%;
    text-align: center;

}

.footer-col-4 h3{
    text-align: right;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}


.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

.footer input{
    border-color: #ff523b;
    line-height: 25px;
    float: right;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
   
}

.footer-col-2 img{

    width: 50px;
    margin-top: 20px;
    border-color: #fff;
    margin-right: 15px;
    

}


.footer input:focus {
    border: 3px solid #555;
  }


.footer button{
    outline: none;
}

/* media query for menu  */

@media only screen and (max-width : 800px){

    nav ul{
        position: absolute;
        top: 90px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s ;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
}


/* all produts  */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

.page-btn{
    margin: 0 auto 80px;

}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
}

.curr-page{
    background: #ff523b;
    color: white;

}

.page-btn span:hover{
    background: #ff523b;
    color: white;
}

.product{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
   
}

.product-cat{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    padding: 10px 30px;
    transition: background-color  1s;
    
}

.product-cat:hover{
    color: #fff;
    background-color: #ff523b;
}

.add-cart{
    position: relative;
    width: 100%;
    background-color: #ffd6d6;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin-left:60px ;
    padding: 5px 20px;
    
}


.cart:hover .add-cart{
    opacity: 1;
    
}
.add-cart:hover{
    background-color: #ff523b;
    color: #fff;
}








/* single product details  */

.single-product{
    margin-top: 80px;

}

.single-product .col-2 img{
    padding: 0;

}
.single-product .col-2 {
padding: 20PX;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;

}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border : 1px solid #ff523b;

}

input:focus{
    outline: none;
}


/* media query less than 600 screen size  */

@media only screen and (max-width : 600px){

.row{
    text-align: center;

}

.col-2, .col-3,.col-4{
    flex-basis: 100%;
}

.single-product .row{
    text-align: left; 

}

.single-product .col-2{
    padding: 20px 0;
}

.single-product h1{
    font-size: 26px;
    line-height: 30px;
}

.cart-info p{

    display: none;

}



}

/* cart items  */

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}
.products-container ion-icon{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header{
    width:100%;
    max-width:650px;
    display: flex;
    justify-content: flex-start;
    border-bottom:4px solid #ff523b;
    margin: 0 auto;
}

.product-title{
    width:45%;
}

.price{
    width:15%;
    display:flex;
    align-items: center;
}
.quantity{
    width:30%;
    display:flex;
    align-items: center;
}

.total{
    width:10%;
    display:flex;
    align-items: center;
}


.checkbox{
    float: right;
}

/* account page */

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);


}
 
.form-container{
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    

}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;

}
 
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;

}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;

}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;

}

form .btn:focus{
    outline: none;
}


#loginform{
    left: -300px;
}

#regform{
    left: 0;
}

form a {
    font-size: 12px;
}

#indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px) ;
    transition: transform 1s;
}









/* slider */

#slider{
    overflow: hidden;
    width: 500px; 
    position: relative;
    left: 80px;
    bottom: 40px;
    
    
     
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    
    animation: 20s slider infinite;   
}

#slider figure img {
    width: 20%;
    float: left;
    height: 100%;
}



@keyframes slider{
    0%{
        left: 0;
    }

    20%
    {
        left: 0;
    }
    25%{
        left: -100%;
    }
    35%
    {
        left: -100%;
    }
    50%{
        left:-200%
    }

    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }

    95%{left: -300%;

    }
    100%{
        left: -400%;
    }
}
